.git/
.gitignore
.gitattributes
.env
.env.*
*.md
!README.md
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
*.egg
.venv/
venv/
vector_db/data/
.coverage
htmlcov/
.pytest_cache/
tests/
datasets/
docs/
!.dockerignore
**/*.db
**/*.sqlite3
logs/
